/* Youzoom CSS Framework */

/* Links e Cursores */
a, label, button { cursor: pointer; }
a { text-decoration: none; }
:focus{ outline:0 }

/* Reset Android/iOS Tap */
*,
*:hover,
*:active {
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

/* Lista sem Marcadores */
.lista-limpa {
	display: block;
	padding: 0px;
	margin: 0px;
	font-size: 0;
	list-style: none;
}

.lista-limpa li {
	display: block;
	margin: 0px;
	padding: 0px;
	font-size: medium;	
}

/* Margens */

.mt-5 {margin-top: 5px !important; }
.mt-10 {margin-top: 10px !important; }
.mt-15 {margin-top: 15px !important; }
.mt-20 {margin-top: 20px !important; }
.mt-30 {margin-top: 30px !important; }
.mt-40 {margin-top: 40px !important; }

.mb-5 { margin-bottom: 5px !important; }
.mb-10 { margin-bottom: 10px !important; }
.mb-15 { margin-bottom: 15px !important; }
.mb-20 { margin-bottom: 20px !important; }
.mb-25 { margin-bottom: 25px !important; }
.mb-30 { margin-bottom: 30px !important; }
.mb-40 { margin-bottom: 40px !important; }
.mb-50 { margin-bottom: 50px !important; }
.mb-75 { margin-bottom: 75px !important; }

.mr-0 {margin-right: 0px !important; }
.mr-5 {margin-right: 5px !important; }
.mr-10 {margin-right: 10px !important; }
.mr-11 {margin-right: 11px !important; }
.mr-15 {margin-right: 15px !important; }
.mr-20 {margin-right: 20px !important; }
.mr-30 {margin-right: 30px !important; }
.mr-40 {margin-right: 40px !important; }

.ml-0 {margin-left: 0px !important; }
.ml-5 {margin-left: 5px !important; }
.ml-10 {margin-left: 10px !important; }
.ml-11 {margin-left: 11px !important; }
.ml-20 {margin-left: 20px !important; }
.ml-30 {margin-left: 30px !important; }
.ml-15 {margin-left: 15px !important; }
.ml-40 {margin-left: 40px !important; }

/* Paddings */

.pd-left-0 {
	padding-left: 0 !important;
}

.pd-right-0 {
	padding-right: 0 !important;
}

.pd-top-0 {
	padding-top: 0 !important;
}

.pd-bottom-0 {
	padding-bottom: 0 !important;
}

/* Auto Horizontal Margin */
.auto-x-margin {
	margin-left: auto !important;
	margin-right: auto !important;
}

/* Auto Vertical Margin */
.auto-y-margin {
	margin-left: auto !important;
	margin-right: auto !important;
}


/* Text Justify */
.text-justify {
	text-align: justify !important;
	text-indent: 0px !important;
}

/* Text Center */
.text-center {
	text-align: center !important;
	text-indent: 0px !important;
}

/* Text Right */
.text-right {
	text-align: right !important;
	text-indent: 0px !important;
}

/* Text Right */
.text-bottom {
	vertical-align: text-bottom;
}

/* Font Italic */
.font-italic {
	font-style: italic !important;
}


/* Last Child */
.ultimo {
	margin-right: 0px !important;
}

/* Bloco */
.bloco {
	display: block !important;
}

.i-bloco {
	display: inline-block !important;
}

/* Relativo */
.relative {
	position: relative !important;
}

/* Flutuação Fix */
.clearfix:before,
.clearfix:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/* IMG Replacement */
.replace {
	overflow: hidden !important;
	text-indent: -999em;
}

/* Visualizações */
.show {
	display: block !important;
	visibility: visible;
}

.hide {
	display: none !important;
	visibility: hidden;
}

.hidden {
    display:none;
}

.no-hand {
    cursor: default;
}

.no-border {
	border: none !important;
}

/* Flutuações */
.to-left {
	float: left !important;
}

.to-right {
	float: right !important;
}

/* Estrutura */
.secao {
	display: block;
	width: 100%;
}

/* Text Overflow Ellipsis  */ 
.text-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}